*.pyc
data/
checkpoints/
*.jpg

### Python ###
# Byte-compiled / optimized / DLL files
__pycache__/

# vscode
*.code-workspace
.vscode

# output
docs/api
.code-workspace.code-workspace
*.pkl
*.npy
*.pth
*.onnx
*.engine
events.out.tfevents*
lightning_logs/

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

### PyCharm ###
# User-specific stuff
.idea/

# Linux trash folder which might appear on any partition or disk
.Trash-*
